<%- include('navbar.ejs') %>
<form action="/admin/save_product_category" method="post">
    <div class="container-fluid bg-white p-3 shadow">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading">Add Category</h3>
            </div>
            <div class="col-md-4">
                Category Name
                <input type="text" name="category_name" class="form-control">
            </div>
            <div class="col-md-7">
                Category Details
                <textarea type="text" rows="1" name="category_details" class="form-control"></textarea>
            </div>
            <div class="col-md-1">
                <br>
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
<br>
<div class="container-fluid bg-white p-3 shadow mt-3">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading"> Category List</h3>
            
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered"  border="1">
            <tr>
                <th>Action</th>
                <th>SrNo.</th>
                <th>Category Name</th>
                <th>Category Details</th>
            </tr>
            <% for(var i=0;i<cat_list.length;i++){ %>

                <tr>
                    <td style="width: 3%;white-space: nowrap;">
                        <a href="/admin/edit_product_category/<%=cat_list[i].product_category_id%>">
                            <button class="btn btn-dark p-0 ps-1 pe1">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>
                        <a href="/admin/delete_product_category/<%=cat_list[i].product_category_id%>" onclick="return confirm('Are You Sure..?')">
                            <button class="btn btn-danger p-0 ps-1 pe1">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                    <td><%=i+1%></td>
                    <td><%=cat_list[i].category_name%></td>
                    <td><%=cat_list[i].category_details%></td>
                </tr>
                <% } %>
        </table>
    </div>
</div>
<%- include('footer.ejs') %>