<%- include("navbar.ejs"); %>
	<!-- Start Checkout -->
<form method="post" action="/process_checkout">
        <section class="shop checkout section">
            <div class="container">
                <div class="row form"> 
                    <div class="col-lg-8 col-12">
                        <div class="checkout-form">
                            <h2>Make Your Checkout Here</h2>
                            <p>Please register in order to checkout more quickly</p>
                            <!-- Form -->
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>First Name<span>*</span></label>
                                            <input type="text" name="fname" placeholder="" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Last Name<span>*</span></label>
                                            <input type="text" name="lname" placeholder="" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Email Address<span>*</span></label>
                                            <input type="email" name="email" placeholder="" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Phone Number<span>*</span></label>
                                            <input type="number" name="mobile" placeholder="" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>State / Divition<span>*</span></label>
                                            <input type="text" name="state" id="state-province">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Address Line 1<span>*</span></label>
                                            <input type="text" name="address1" placeholder="" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Address Line 2<span>*</span></label>
                                            <input type="text" name="address2" placeholder="" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Postal Code<span>*</span></label>
                                            <input type="text" name="postal" placeholder="" required="required">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--/ End Form -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="order-details">
                            <!-- Order Widget -->
                            <div class="single-widget">
                                <h2>CART  TOTALS</h2>
                                <div class="content">
                                    <ul>
                                        <% 
                                        var sum=0;
                                        for(var i=0;i<carts.length;i++)
                                        {
                                            sum =sum+ (carts[i].qty * carts[i].product_price);
                                            %>
                                        <li style="font-style: italic;font-weight: bold;"><%=carts[i].product_name.slice(0,25)%> x <%=carts[i].qty%><span>₹ <%=carts[i].qty * carts[i].product_price%></span></li>
                                        <% } %>
                                        <li class="last" style="font-weight: bold;font-style: italic;">Total<span><%=sum%></span></li>
                                    </ul>
                                </div>
                            </div>
                            <!--/ End Order Widget -->
                            <!-- Order Widget -->
                            <div class="single-widget">
                                <h2>Payments</h2>
                                <div class="content">
                                    <div class="radio">
                                        <div class="p-4">
                                        <input name="payment" type="radio" value="cod"> Cash On Delivery
                                        <br>
                                        <input name="payment" type="radio" value="online" checked> Online
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <!--/ End Order Widget -->
                            <!-- Button Widget -->
                            <div class="single-widget get-button">
                                <div class="content">
                                    <div class="button">
                                        <button  class="btn btn-primary">proceed to checkout</button>
                                    </div>
                                </div>
                            </div>
                            <!--/ End Button Widget -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
</form>
    <!--/ End Checkout -->
<%- include("footer.ejs"); %>