	  
		
		<!-- Start Footer Area -->
		<footer class="footer print-hide">
			<!-- Footer Top -->
			<div class="footer-top section">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer about">
								<div class="logo">
									<a href="/"><img style="filter: invert(1000);" src="/uploads/<%=company_info.company_logo%>" width="100px"></a>
								</div>
								<p class="text"><%=company_info.company_details%></p>
								<p class="call">Got Question? Call us 24/7<span><a href="tel:<%=company_info.company_contact_no%>"> +91 <%=company_info.company_contact_no%></a></span></p>
							</div>
							<!-- End Single Widget -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer links">
								<h4>Information</h4>
								<ul>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Faq</a></li>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
							<!-- End Single Widget -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer links">
								<h4>Customer Service</h4>
								<ul>
									<li><a href="/business/register">Business Registration</a></li>
									<li><a href="/business/login">Business Login </a></li>
									<li><a href="#">Money-back</a></li>
									<li><a href="#">Returns</a></li>
									<li><a href="#">Shipping</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>
							<!-- End Single Widget -->
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer social">
								<h4>Get In Tuch</h4>
								<!-- Single Widget -->
								<div class="contact">
									<ul>
										<li><%=company_info.company_address%></li>
										<li><%=company_info.company_contact_email%></li>
										<li>+91 <%=company_info.company_contact_no%></li>
									</ul>
								</div>
								<!-- End Single Widget -->
								<ul>
									<li><a target="_blank" href="<%=company_info.company_facebook_link%>"tar ><i class="ti-facebook"></i></a></li>
									<li><a target="_blank" href="<%=company_info.company_twitter_link%>"><i class="ti-twitter"></i></a></li>
									<li><a target="_blank" href="<%=company_info.company_whatsapp_link%>"><i class="fa fa-whatsapp"></i></a></li>
									<li><a target="_blank" href="<%=company_info.company_instagram_link%>"><i class="ti-instagram"></i></a></li>
									<li><a target="_blank" href="<%=company_info.company_linkedin_link%>"><i class="ti-linkedin"></i></a></li>
									<li><a target="_blank" href="<%=company_info.company_telegram_link%>"><i class="fa fa-telegram"></i></a></li>
								</ul>
							</div>
							<!-- End Single Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Footer Top -->
			<div class="copyright">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="left">
									<p>Copyright © 2024 <a href="https://www.a2zithub.org" target="_blank">A2Z IT HUB</a>  -  All Rights Reserved.</p>
								</div>
							</div>
							<div class="col-lg-6 col-12">
								<div class="right">
									<img src="/user/images/payments.png" alt="#">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</footer>
		<!-- /End Footer Area -->
	 

		<!-- Popper JS -->
		<script src="/user/js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="/user/js/bootstrap.min.js"></script>
		<!-- Slicknav JS -->
		<script src="/user/js/slicknav.min.js"></script>
		<!-- Owl Carousel JS -->
		<script src="/user/js/owl-carousel.js"></script>
		<!-- Magnific Popup JS -->
		<script src="/user/js/magnific-popup.js"></script>
		<!-- Waypoints JS -->
		<script src="/user/js/waypoints.min.js"></script>
		<!-- Countdown JS -->
		<script src="/user/js/finalcountdown.min.js"></script>
		<!-- Nice Select JS -->
		<script src="/user/js/nicesellect.js"></script>
		<!-- Flex Slider JS -->
		<script src="/user/js/flex-slider.js"></script>
		<!-- ScrollUp JS -->
		<script src="/user/js/scrollup.js"></script>
		<!-- Onepage Nav JS -->
		<script src="/user/js/onepage-nav.min.js"></script>
		<!-- Easing JS -->
		<script src="/user/js/easing.js"></script>
		<!-- Active JS -->
		<script src="/user/js/active.js"></script>
        <script>
            function allcategoryboxtoggle(){
                $('#allcategorybox').slideToggle();
            }
        </script>
	</body>
	</html>