<%- include('navbar.ejs') %>
		
		<!-- Slider Area -->
		<section class="hero-slider">
			<!-- Single Slider -->
			<div id="demo" class="carousel slide" data-ride="carousel">
				<div id="demo" class="carousel slide" data-ride="carousel">
					<% for(var i=0;i<slides.length;i++){ %>
						<div class="carousel-inner">
							<div class="carousel-item <%= (i == 0) ? 'active' : '' %>">
								<img src="/uploads/<%= slides[i].slider_image %>" style="width:100%">
								<div class="carousel-caption">
								  <h3 style="text-shadow: 3px 3px 0px black, -3px -3px black;"><%= slides[i].slider_title %></h3>
								  <br>
								  <a href="/product" target="_blank">
									<button class="btn btn-dark bg-white text-dark" ><%= slides[i].slider_button_text %></button>
								  </a>
								</div>
							  </div>
							  
						  <% } %> 
						</div>
				  </div>
				<a class="carousel-control-prev" href="#demo" data-slide="prev">
				  <span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#demo" data-slide="next">
				  <span class="carousel-control-next-icon"></span>
				</a>
			  </div>
			<!--/ End Single Slider -->
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Small Banner  -->
		<section class="small-banner section">
			<div class="container-fluid">
				<div class="row">
					<!-- Single Banner  -->
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-banner">
							<img src="https://royalanarkali.com/wp-content/uploads/2024/04/Classic-Maroon-Color-Soft-Lichi-Silk-Cloth-Rich-Pallu-Work-Saree.jpeg" style="height: 400px;width: 400px;">
						
							<div class="content">
								<p>Womens Collectons</p>
								<h3> Awesome Sarries<br>collection</h3>
								<a href="/product">Shop As Your Choice</a>
							</div>
						</div>
					</div>
					<!-- /End Single Banner  -->
					<!-- Single Banner  -->
					<div class="col-lg-4 col-md-6 col-12">
						<div class="single-banner">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv9DFBioKuJUI9EtKg1lw2ELArGCEMszz7Aw&s"  style="height: 400px;width: 400px;">
							<div class="content">
								<p>Laptop Collectons</p>
								<h3>Awesome Laptop <br> 2020</h3>
								<a href="/product">Shop As Your Choice</a>
							</div>
						</div>
					</div>
					<!-- /End Single Banner  -->
					<!-- Single Banner  -->
					<div class="col-lg-4 col-12">
						<div class="single-banner tab-height">
							<img src="https://www.cortland.pl/files/foto_add_big/foto_add-16292.jpg?ts=1674817031" alt="#" style="height: 400px;width: 400px;">
							<div class="content">
								<p>Big Sale</p>
								<h3>Mid Season <br> Up to <span>40%</span> Off</h3>
								<a href="/product">Shop As Your Choice</a>
							</div>
						</div>
					</div>
					<!-- /End Single Banner  -->
				</div>
			</div>
		</section>
		<!-- End Small Banner -->
		
		<!-- Start Product Area -->
	    <div class="product-area section">
	            <div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title">
								<h2>Trending Item</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="product-info">
								<div class="tab-content" id="myTabContent">
									<!-- Start Single Tab -->

						<div class="tab-pane fade show active" id="man" role="tabpanel">
										<div class="tab-single">
											<div class="row">
									<% for(var i=0;i<products.length;i++){%>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="/product_details/<%=products[i].product_id%>">
																<img class="default-img" src="uploads/<%=products[i].product_image1%>" alt="#">
																<img class="hover-img" src="uploads/<%=products[i].product_image2%>" alt="#">
																<img class="hover-img" src="uploads/<%=products[i].product_image3%>" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action-2">
																	<a title="Add to cart" href="/product_details/<%=products[i].product_id%>">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="/product_details/<%=products[i].product_id%>"><%=products[i].product_name%></a></h3>
															<div class="product-price">
																<span><b>₹ <%=products[i].product_price%></b></span> &nbsp;
																<del>₹ <%=products[i].duplicate_price%></del>
															</div>
														</div>
													</div>
												</div>
									<% } %> 

											</div>
										</div>
						</div>
									<!--/ End Single Tab -->
									<!-- Start Single Tab -->
									<!-- <div class="tab-pane fade" id="women" role="tabpanel">
										<div class="tab-single">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Hot Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Pink Show</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="new">New</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Pant Collectons</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="price-dec">30% Off</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Cap For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Polo Dress For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="out-of-stock">Hot</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Black Sunglass For Women</a></h3>
															<div class="product-price">
																<span class="old">$60.00</span>
																<span>$50.00</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div> -->
									<!--/ End Single Tab -->
									<!-- Start Single Tab -->
									<div class="tab-pane fade" id="kids" role="tabpanel">
										<div class="tab-single">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
					
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Hot Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Pink Show</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="new">New</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Pant Collectons</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="price-dec">30% Off</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Cap For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Polo Dress For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="out-of-stock">Hot</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Black Sunglass For Women</a></h3>
															<div class="product-price">
																<span class="old">$60.00</span>
																<span>$50.00</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/ End Single Tab -->
									<!-- Start Single Tab -->
									<!-- <div class="tab-pane fade" id="accessories" role="tabpanel">
										<div class="tab-single">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Hot Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Pink Show</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="new">New</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Pant Collectons</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="price-dec">30% Off</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Cap For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Polo Dress For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="out-of-stock">Hot</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Black Sunglass For Women</a></h3>
															<div class="product-price">
																<span class="old">$60.00</span>
																<span>$50.00</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div> -->
									<!--/ End Single Tab -->
									<!-- Start Single Tab -->
									<div class="tab-pane fade" id="essential" role="tabpanel">
										<div class="tab-single">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Hot Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Pink Show</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="new">New</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Pant Collectons</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="price-dec">30% Off</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Cap For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Polo Dress For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="out-of-stock">Hot</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Black Sunglass For Women</a></h3>
															<div class="product-price">
																<span class="old">$60.00</span>
																<span>$50.00</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/ End Single Tab -->
									<!-- Start Single Tab -->
									<div class="tab-pane fade" id="prices" role="tabpanel">
										<div class="tab-single">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Hot Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Pink Show</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="new">New</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Women Pant Collectons</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Bags Collection</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="price-dec">30% Off</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Awesome Cap For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Polo Dress For Women</a></h3>
															<div class="product-price">
																<span>$29.00</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-3 col-lg-4 col-md-4 col-12">
													<div class="single-product">
														<div class="product-img">
															<a href="product-details.html">
																<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
																<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
																<span class="out-of-stock">Hot</span>
															</a>
															<div class="button-head">
																<div class="product-action">
																	<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																	<a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
																	<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
																</div>
																<div class="product-action-2">
																	<a title="Add to cart" href="#">Add to cart</a>
																</div>
															</div>
														</div>
														<div class="product-content">
															<h3><a href="product-details.html">Black Sunglass For Women</a></h3>
															<div class="product-price">
																<span class="old">$60.00</span>
																<span>$50.00</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--/ End Single Tab -->
								</div>
							</div>
						</div>
					</div>
	            </div>
	    </div>
		<!-- End Product Area -->
		<!-- Start Cowndown Area -->
		<section class="cown-down">
			<div class="section-inner ">
				<div class="container-fluid">
					<div class="row">
						<% for(var i=1;i<=1;i++){%>
						<div class="col-lg-6 col-12 padding-right">
							<div class="image">
								<img src="uploads/<%=blogs[i].blog_image%>" alt="#">
								
							</div>	
						</div>	
						<div class="col-lg-6 col-12 padding-left">
							<div class="content">
								<div class="heading-block">
									<h2 class="title"><%=blogs[i].blog_title%></h2>
									<p class="text"><%=blogs[i].blog_des%></p>
									<h1 class="price">$1200 <s>$1890</s></h1>
									<div class="coming-time">
										<div class="clearfix" data-countdown="2021/02/30"></div>
									</div>
								</div>
							</div>	
						</div>	
						<%} %> 
					</div>
				</div>
			</div>
		</section>
		<!-- /End Cowndown Area -->
		
		<!-- Start Shop Blog  -->
		<section class="shop-blog section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>From Our Blog</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<% for(var i=0;i<blogs.length;i++){%>
					<div class="col-lg-4 col-md-6 col-12 <%= (i == 0) ? 'active' : '' %>">
						<!-- Start Single Blog  -->
						<div class="shop-single-blog">
							<img src="uploads/<%=blogs[i].blog_image%>" width="100%" style="max-width: 400px;max-height: 400px;" > 
							<div class="content">
								<a href="#" class="title"><%=blogs[i].blog_title%></a>
								<a href="#" class="more-btn"><%=blogs[i].blog_des%></a>
							</div>
						</div>
						<!-- End Single Blog  -->
					</div>
					<% } %>
				</div>
			</div>
		</section>
		<!-- End Shop Blog  -->
		
		<!-- Start Shop Services Area -->
		<section class="shop-services section home">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-rocket"></i>
							<h4>Free shiping</h4>
							<p>Orders over $100</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-reload"></i>
							<h4>Free Return</h4>
							<p>Within 30 days returns</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-lock"></i>
							<h4>Sucure Payment</h4>
							<p>100% secure payment</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-tag"></i>
							<h4>Best Peice</h4>
							<p>Guaranteed price</p>
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Shop Services Area -->
	<%- include('footer.ejs') %>