<%- include('navbar.ejs') %>
<style>
    @media print {
  /* All your print styles go here */
  #header,
  #footer,
  .print-hide,.hide-nav-foot {
    display: none !important;
  }
}
    .invoice-box{
        max-width:800px;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
    
    
    
/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}

<style type="text/css">
    /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
    @media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
    }
    @media only screen and (min-width:1440px){
        /* styles for browsers larger than 1440px; */
    }
    @media only screen and (min-width:2000px){
        /* for sumo sized (mac) screens */
    }
    @media only screen and (max-device-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
    }
    @media only screen and (device-width:768px){
       /* default iPad screens */
    }
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
    }
</style>
<div class="container-fluid">
    <div class="row bg-white p-4 mt-3 pt-4 border shadow">
        <div class="col-md-12">
            <h3 class="heading">Order Information</h3>
        </div>
        <div class="col-md-12 mt-3">
            <div class="invoice-box" id="print_page">
                <table cellpadding="0" cellspacing="0">
                    <tr class="top">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td class="title">
                                        <img src="http://localhost:1000/uploads/1709922183021.png" style="width:100%; max-width:300px;">
                                    </td>
                                    
                                    <td>
                                        Invoice #: <%=order_info[0].order_id%><br>
                                    Created: <%=order_info[0].order_date.split("-").reverse().join("-")%>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr class="information">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td style="width: 70%;">
                                    <%=order_info[0].address1%><br>
                                    <%=order_info[0].address2%><br>
                                    <%=order_info[0].state%><br>
                                    <%=order_info[0].postal%> 
                                    </td>
                                    
                                    <td>
                                        <%=order_info[0].fname%> <%=order_info[0].lname%><br>
                                        <%=order_info[0].mobile%> <br>
                                        <%=order_info[0].email%> <br>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr class="heading">
                        <td  class="text-uppercase">
                            <%=order_info[0].payment_type%> Payment :
                        </td>
                        
                        <td class="fw-bold text-uppercase">
                            <%=(order_info[0].payment_status=='success') ? 'Received': 'Pending'%> 
                            <% if(order_info[0].payment_status=='success' && order_info[0].business_payment_status==''){%>
                                <a href="/admin/transfer_to_business/<%=order_info[0].order_id%>">
                                <button class="btn btn-dark btn-sm p-2">Transfer To Business</button>
                                </a>
                            <% 
                        }
                        if(order_info[0].business_payment_status!='') { %>

                            <span>& Transfer To Business</span>
                            <% } %>
                        
                        %>
                        </td>
                    </tr>
                    <tr class="item last">
                    <table cellpadding="0" cellspacing="0"  class="table table-bordered text-center">

                        <tr>
                            <th>Product Name</th>
                            <th>Produc Price</th>
                            <th>Product Quantity </th>
                            <th>Product Total </th>
                        </tr>
                        <tr>
                            <td><%=order_info[0].product_name%></td>
                            <td style="text-align: center;">₹<%=order_info[0].product_price%></td>
                            <td><%=order_info[0].qty%> Qty.</td>
                            <td class="fw-bold">₹ <%=order_info[0].total_price%></td>
                        </tr>
                    </table>
                   
                </table>
                <div class="col-md-12 text-center">
                    <button class="btn btn-dark print-hide" onclick="print()"><i class="fa fa-print p-1 m-1"> Print Invoice</i></button>
                </div>
        </div>
        </div>
    </div>
</div>
<script>
    function printpage(){
        var print_page=document.getElementById("printing_page");
        new_document=window.open("","_blank","width=500px","height=500px")
        new_document.document.write(print_page.innerHTML);
        new_document.print();
        new_document.close();
    }
</script>
<%- include('footer.ejs') %>